
<h3 class="panel-title">quick start to enroll</h3>
<div class="panel-body">
  <div>
    <label>name:</label>
    <br>
    <input #newName>
  </div>

  <div>
    <label>Address:</label>
    <br>
    <input #newAddress>
  </div>

  <div>
    <label>annual income:</label>
    <br>
    <textarea #newSalary></textarea>
  </div>
  <button  (click)="submitForm(newName.value, newAddress.value, newSalary.value)">Add</button>
  <button (click)="formEnroll(newName.value, newAddress.value, newSalary.value)">Enter enrollment</button>

</div>
<div *ngIf="selectedAdd">
  <div *ngFor="let currentEnrolled of enrolled ">
    <ul>
      <li>name: {{currentEnrolled.name}} </li>
      <li>address: {{currentEnrolled.address}} </li>
      <li> yearly income: {{currentEnrolled.salary}}</li>
      <!-- <li> phone: {{currentEnrolled.phone}}</li>
      <li> gender: {{currentEnrolled.gender}}</li>
      <li> birth: {{currentEnrolled.birth}}</li> -->
    </ul>
    <button (click)="editEnroll()">edit</button>
  </div>
</div>
<div *ngIf="selectedEdit">
  <input [(ngModel)]="selectedEdit.name" value = this.selectedEdit.name >
  <input [(ngModel)]="selectedEdit.address" value = "this.selectedEdit.address" >
  <input [(ngModel)]="currentEnrolled.salary" value="selectedAdd.salary" >
</div>
<div>
  <h3>{{(enrollToDisplay | async)?.name}}</h3>
  <h4>{{(enrollToDisplay | async)?.address}}</h4>
  <p>{{(enrollToDisplay | async)?.phone}}</p>
</div>
