<p>
  quick-start works!
</p>
<h3 class="panel-title">quick start to enroll</h3>
<div class="panel-body">
  <div>
    <label>name:</label>
    <br>
    <input #newName>
  </div>

  <div>
    <label>Address:</label>
    <br>
    <input #newAddress>
  </div>

  <div>
    <label>annual income:</label>
    <br>
    <textarea #newSalary></textarea>
  </div>
   <button  (click)="submitForm(newName.value, newAddress.value, newSalary.value)">Add</button>
   <button (click)="formEnroll(newName.value, newAddress.value, newSalary.value)">Enter enrollment</button>

</div>
<div *ngIf="selectedAdd">
   <div *ngFor="let currentEnrolled of enrolled">
     <p>{{currentEnrolled.name}}</p>
   </div>
</div>
