
<div class="img">
  <img src="..\img\ohp.png" alt="">
</div>
<h3 class="jumbotron">Quick Start to Enroll</h3>

<div class="panel-body">
  <div >
    <label for="userName">Create User Name</label>
    <input >
  </div>
  <div >
    <label for="userPassword">Create User Password</label>
    <input type ="password" >
  </div>

  <div>
    <label>Name:</label>
    <br>
  <input [(ngModel)]='newEnroll.name' #newName>
  </div>
  <div>
    <label>Address:</label>
    <br>
    <input [(ngModel)]='newEnroll.address' #newAddress>
  </div>

  <div>
    <label>Annual Income:</label>
    <br>
    <input [(ngModel)]='newEnroll.salary' #newSalary>
  </div>
  <button  (click)="submitForm();">Add</button>
  <button (click)="formEnroll()">Enter enrollment</button>

</div>
<div class="output">


<div *ngIf="selectedAdd">
  <div *ngFor="let currentEnrolled of enrolled ">
    <ul>
      <li>name: {{currentEnrolled.name}} </li>
      <li>address: {{currentEnrolled.address}} </li>
      <li> yearly income: {{currentEnrolled.salary}}</li>
      <!-- <li> phone: {{currentEnrolled.phone}}</li>
      <li> gender: {{currentEnrolled.gender}}</li>
      <li> birth: {{currentEnrolled.birth}}</li> -->
    </ul>
    <button (click)="editEnroll(currentEnrolled)">edit</button>
  </div>
</div>
<div *ngIf="selectedEdit">
  <input [(ngModel)]="selectedEdit.name" value = "selectedEdit.name" >
  <input [(ngModel)]="selectedEdit.address" value = "selectedEdit.address" >
  <input [(ngModel)]="selectedEdit.salary" value="selectedEdit.salary" >
</div>
<div>
  <h3>{{(enrollToDisplay | async)?.name}}</h3>
  <h4>{{(enrollToDisplay | async)?.address}}</h4>
  <p>{{(enrollToDisplay | async)?.phone}}</p>
</div>
</div>
