<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <div id="hero-content-wrapper" class="col-xs-10">
      <div class="hero-content">
        <h1>
          2019 Open Enrollment is over.<br>
          Still need health insurance?
        </h1>
        <p><br></p>

        <p class="sub-heading">You can enroll in or change plans if you have certain life changes, or qualify for Medicaid or CHIP.</p>
        <p><a (click)="enrollForm()"  class="btn btn-large btn-success hero-btn">SEE IF I CAN ENROLL IN OHP</a>
          <a (click)="privatePlans()" class="btn btn-large btn-success hero-btn">SEE PRIVATE HEALTH PLANS</a></p>

          <div class="col-xs-12" style="margin-top: 20px">
            <small><b>Looking for coverage for a small business? <a href="/small-businesses/">Learn more</a></b></small>
            <p> </p>
            <div *ngIf="selectInfo">
              <ul>
                <li *ngFor="let currentHealth of health">{{currentHealth.name}}, {{currentHealth.address}},{{currentHealth.salary}}, Am i available for coverage = {{currentHealth.coverage}}</li>
              </ul>
            </div>
          </div>
          <div *ngIf="selectEnroll">
            <label for="name">enter name</label>
            <input  [(ngModel)]="name">
            <label for="address">enter address</label>
            <input  [(ngModel)]="address">
            <label for="salary">enter yearly income</label>
            <input  [(ngModel)]="salary">
            <button (click)="showInfo(name,address,salary)">enter</button>
          </div>

          <div class="">
            <label for="doctors">look up doctors in your area</label>
            <input  [(ngModel)]="doctors">
            <button (click)="findDoctor()">enter</button>
          </div>
          <div *ngIf="selectPlans">
            <ul>
              <li *ngFor="let currentPlan of plans">{{currentPlan.name}}, phone-number: {{currentPlan.phone}}, monthly price: {{currentPlan.monthly}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container -->
    <div id="secondary-alert-container" class="hidden" aria-hidden="true">

    </div>
    <div id="secondary-cta">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <div class="hidden-xs hidden-sm cta-icon pull-left">
              <span aria-hidden="true" class="glyphicons file_export"></span>
            </div>

            <div class="cta-content">
              <div class="cta-message">
                <p class="cta-title up-case title-only" style="display: inline-block;" id="cta-title">
                  NEED TO SUBMIT DOCUMENTS?
                </p>

              </div>
            </div>

            <div class="cta-action">
              <a class="btn btn-darkblue up-case" href="/tips-and-troubleshooting/uploading-documents/" aria-describedby="cta-title">
                SEE HOW
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="actionbar">

      <div class="container match-height">

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3  border">
            <a href="/quick-guide/">

              <div class="actionbar-item">
                <div aria-hidden="true" class="glyphicons check"> </div>

                <h2>QUICK START GUIDE</h2>
                <span></span>
                <div class="clearfix"></div>
                <div class="btn btn-sm">SEE TIPS</div>

              </div>

            </a>

          </div>

          <div class="col-xs-12 col-sm-6 col-md-3  quadrant border">
            <a href="/reporting-changes/">

              <div class="actionbar-item">
                <div aria-hidden="true" class="glyphicons file"> </div>

                <h2>INCOME/LIFE CHANGE?</h2>
                <span></span>
                <div class="clearfix"></div>
                <div class="btn btn-sm">SEE HOW TO REPORT</div>

              </div>

            </a>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3  bottom-row border">
            <a href="https://localhelp.healthcare.gov/#/exit/">

              <div class="actionbar-item">
                <div aria-hidden="true" class="glyphicons group"> </div>

                <h2>GET CONTACTED</h2>
                <span></span>
                <div class="clearfix"></div>
                <div class="btn btn-sm">HELP FROM AGENT/BROKER</div>

              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3  bottom-row ">
            <a href="https://localhelp.healthcare.gov/">

              <div class="actionbar-item">
                <div aria-hidden="true" class="glyphicons road"> </div>

                <h2>FIND LOCAL HELP</h2>
                <span></span>
                <div class="clearfix"></div>
                <div class="btn btn-sm">SEARCH NOW</div>

              </div>

            </a>

          </div>
        </div>
      </div>
    </div>
    <div id="updates-feature" class="double-module">
      <div class="container match-height">
        <div class="row">
          <div class="col-md-7 col-sm-6 cell module">
            <h2 class="up-case" id="updates-feature-title">Get important news &amp; updates</h2>
            <div id="updates-subscribe">
              <p class="descriptor hidden-xs" id="signup-descriptive-id">
                Sign up for email and text updates to get deadline reminders and other important information.
              </p>
              <form>
                <div class="form-group">
                  <label class="sr-only" for="signup">Email Address</label>
                  <div class="input-group">
                    <input aria-describedby="signup-descriptive-id" id="signup" type="text" class="form-control" data-email="">
                    <span class="input-group-btn">
                      <button class="btn btn-default up-case" type="submit" data-toggle="modal" data-target="#subscribe-modal" aria-describedby="updates-feature-title">Sign up</button>
                    </span>
                  </div>
                </div>
              </form>
              <p class="footnote up-case">
                <a href="/privacy">Privacy Policy</a>
              </p>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 cell module">
            <h2 class="up-case with-icon">
              <span aria-hidden="true" class="glyphicons comments"></span>
              <a href="/blog" id="updates-blog-title">
                HealthCare.gov Blog
              </a>
            </h2>
            <!-- ESI include for blog module -->
            <div id="updates-blog">
              <ol aria-labelledby="updates-blog-title" class="list-unstyled blog-list">
                <li>
                  <a href="/blog/3-ways-use-2019-marketplace-coverage/">
                    <p class="blog-date">
                      <span>

                        January 17</span>
                      </p>
                      <p class="blog-title">
                        3 ways to use your new Marketplace coverage
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/blog/use-free-preventive-services-in-2019/">
                      <p class="blog-date">
                        <span>

                          January 03</span>
                        </p>
                        <p class="blog-title">
                          Ring in the New Year with free preventive services
                        </p>
                      </a>
                    </li>
                  </ol>
                  <a class="btn up-case" href="/blog" aria-describedby="updates-blog-title">
                    See More
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row spacer-bottom20">
          <div class="col-resources col-sm-6">
            <div>
              <h3>Resources</h3>
              <div class="col-sm-5">
                <ul class="list-unstyled default">
                  <li><a href="http://www.hhs.gov/healthcare/">About the Affordable Care Act</a></li>

                  <li><a href="http://www.cms.gov/cciio/index.html">Regulatory and Policy Information</a></li>

                  <li><a href="http://marketplace.cms.gov/">For Navigators, Assisters &amp; Partners</a></li>

                  <li><a href="https://www.cms.gov/cciio/programs-and-initiatives/health-insurance-marketplaces/a-b-resources.html">For Agents &amp; Brokers</a></li>
                </ul>
              </div>
              <div class="col-sm-5 col-sm-offset-2">
                <ul class="list-unstyled default">
                  <li><a href="http://www.cms.gov/Newsroom/Newsroom-Center.html">For the Media</a></li>
                  <li><a href="https://www.healthcare.gov/health-and-dental-plan-datasets-for-researchers-and-issuers/">For Researchers</a></li>
                  <li><a href="http://www.cms.gov/CCIIO/Programs-and-Initiatives/Health-Insurance-Marketplaces/State-Marketplace-Resources.html">For States</a></li>
                  <li><a href="/language-resource/">Information in other languages</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-connect-with-us col-sm-5 col-sm-offset-1">
            <div>
              <h3>
                Connect With Us
              </h3>
              <ul class="list-unstyled default bottom20">

                <li>
                  <a href="/contact-us/" class="row-link" data-remote="false">
                    <div class="row">
                      <div class="col-sm-1">
                        <span class="glyphicons earphone"></span>
                      </div>
                      <div class="col-sm-11 nudge-right">
                        <span class="text">Questions? Call 1-800-318-2596</span>
                      </div>
                    </div>
                  </a>
                </li>

                <li>



                  <a href="https://localhelp.healthcare.gov/" class="row-link" data-remote="false">
                    <div class="row">
                      <div class="col-sm-1">
                        <span class="glyphicons road"></span>
                      </div>
                      <div class="col-sm-11 nudge-right">
                        <span class="text">Find Local Help</span>
                      </div>
                    </div>
                  </a>
                </li>

                <li>



                  <a href="/blog" class="row-link" data-remote="false">
                    <div class="row">
                      <div class="col-sm-1">
                        <span class="glyphicons comments"></span>
                      </div>
                      <div class="col-sm-11 nudge-right">
                        <span class="text">Visit the HealthCare.gov blog</span>
                      </div>
                    </div>
                  </a>
                </li>

              </ul>

              <ul class="list-unstyled default bottom20">
                <li class="social-icon">

                  <a class="icon facebook" href="//www.facebook.com/Healthcare.gov" target="_blank" title="Leaving HealthCare.gov">Facebook</a>

                  <a class="icon twitter" href="//twitter.com/HealthCareGov" target="_blank" title="Leaving HealthCare.gov">Twitter</a>

                  <a class="icon youtube" href="//www.youtube.com/HealthCareGov" target="_blank" title="Leaving HealthCare.gov">YouTube</a>

                  <a class="icon google-plus" href="//plus.google.com/+healthcaregov" target="_blank" title="Leaving HealthCare.gov">Google+</a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </body>
      </html>
