
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <div id="hero-content-wrapper" class="col-xs-10">
      <div class="hero-content">
        <h1>
          2019 Open Enrollment is over.<br>
          Still need health insurance?
        </h1>
        <p><br></p>

        <p class="sub-heading">You can enroll in or change plans if you have certain life changes, or qualify for Medicaid or CHIP.</p>
        <p><a (click)="enrollForm()"  class="btn btn-large btn-success hero-btn">SEE IF I CAN ENROLL IN OHP</a>
          <a (click)="privatePlans()" class="btn btn-large btn-success hero-btn">SEE PRIVATE HEALTH PLANS</a></p>

          <div class="col-xs-12" style="margin-top: 20px">
            <small><b>Looking for coverage for a small business? <a href="/small-businesses/">Learn more</a></b></small>
            <p> </p>
            <div *ngIf="selectInfo">
              <ul>
                <li *ngFor="let currenthealth of health  ">{{currenthealth.name}}, {{currenthealth.address}},{{currenthealth.salary}}, Am i available for coverage = {{currenthealth.coverage}}</li>
              </ul>
            </div>
          </div>
          <div *ngIf="selectEnroll">
            <label for="name">enter name</label>
            <input  pattern="[a-z]" title="name" [(ngModel)]="name">
            <label for="address">enter address</label>
            <input type="text" title = "address" [(ngModel)]="address">
            <label for="salary">enter yearly income</label>
            <input type="number" title = "enter anumber" [(ngModel)]="salary">
            <button (click)="showInfo(name,address,salary)">enter</button>
            <button (click)=startOver()>start over</button>
          </div>

          <div class="">
            <label for="doctors">look up doctors in your area</label>

            <button routerLink="doctor">enter</button>
          </div>
          <div *ngIf="selectPlans">
            <ul>
              <li *ngFor="let currentPlan of plans">{{currentPlan.name}}, phone-number: {{currentPlan.phone}}, monthly price: {{currentPlan.monthly}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /container -->
    <div id="secondary-alert-container" class="hidden" aria-hidden="true">

    </div>
    <div id="secondary-cta">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <div class="hidden-xs hidden-sm cta-icon pull-left">
              <span aria-hidden="true" class="glyphicons file_export"></span>
            </div>

            <div class="cta-content">
              <div class="cta-message">
                <p class="cta-title up-case title-only" style="display: inline-block;" id="cta-title">
                  NEED TO SUBMIT DOCUMENTS?
                </p>

              </div>
            </div>

            <div class="cta-action">
              <a class="btn btn-darkblue up-case" href="/tips-and-troubleshooting/uploading-documents/" aria-describedby="cta-title">
                SEE HOW
              </a>

            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink = "quick-start" class="btn btn-sm">SEE TIPS</div>

    <div class="container match-height">

      <div class="row">

        <h2><a routerLink = "quick-start">QUICK START GUIDE</a></h2>
        <div class="col-xs-12 col-sm-6 col-md-3  quadrant border">
          <a href="/reporting-changes/">

            <div class="actionbar-item">
              <div aria-hidden="true" class="glyphicons file"> </div>

              <h2><a routerLink="login">Have an Acount?/Log In</a></h2>
              <span></span>
              <div class="clearfix"></div>
              <div class="btn btn-sm">SEE HOW TO REPORT</div>

            </div>

          </a>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3  bottom-row border">
          <a href="https://localhelp.healthcare.gov/#/exit/">

            <div class="actionbar-item">
              <div aria-hidden="true" class="glyphicons group"> </div>

              <h2>GET CONTACTED</h2>
              <span></span>
              <div class="clearfix"></div>
              <div class="btn btn-sm">HELP FROM AGENT/BROKER</div>

            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3  bottom-row ">
          <a href="https://localhelp.healthcare.gov/">

            <div class="actionbar-item">
              <div aria-hidden="true" class="glyphicons road"> </div>

              <h2>FIND LOCAL HELP</h2>
              <span></span>
              <div class="clearfix"></div>
              <div class="btn btn-sm">SEARCH NOW</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
  </html>
